In [47]:
import pandas as pd

In [48]:
plays = pd.read_csv('plays.csv')
plays.dtypes

gameId                      int64
playId                      int64
quarter                     int64
GameClock                  object
down                        int64
yardsToGo                   int64
possessionTeam             object
yardlineSide               object
yardlineNumber            float64
offenseFormation           object
personnel.offense          object
defendersInTheBox         float64
numberOfPassRushers       float64
personnel.defense          object
HomeScoreBeforePlay         int64
VisitorScoreBeforePlay      int64
HomeScoreAfterPlay          int64
VisitorScoreAfterPlay       int64
isPenalty                    bool
isSTPlay                     bool
SpecialTeamsPlayType       object
KickReturnYardage         float64
PassLength                float64
PassResult                 object
YardsAfterCatch           float64
PlayResult                  int64
playDescription            object
dtype: object

In [49]:
plays_4th = plays[plays['down'] == 4]

In [50]:
fourth_down = plays_4th[plays_4th['isSTPlay'] == False]
fourth_down

,gameId,playId,quarter,GameClock,down,yardsToGo,possessionTeam,yardlineSide,yardlineNumber,offenseFormation,...,VisitorScoreAfterPlay,isPenalty,isSTPlay,SpecialTeamsPlayType,KickReturnYardage,PassLength,PassResult,YardsAfterCatch,PlayResult,playDescription
158,2017091004,4322,4,02:27:00,4,2,ARI,DET,30.0,SINGLEBACK,...,17,False,False,NaN,NaN,NaN,NaN,NaN,2,(2:27) (No Huddle) C.Palmer up the middle to D...
187,2017090700,653,1,09:34:00,4,1,NE,KC,10.0,SINGLEBACK,...,0,False,False,NaN,NaN,NaN,NaN,NaN,0,(9:34) N.Solder reported in as eligible. M.Gi...
307,2017090700,3874,4,12:29:00,4,1,NE,KC,40.0,JUMBO,...,28,False,False,NaN,NaN,NaN,NaN,NaN,0,(12:29) N.Solder reported in as eligible. M.G...
449,2017091003,2796,3,02:03:00,4,2,CLE,PIT,42.0,SHOTGUN,...,21,False,False,NaN,NaN,2.0,C,4.0,6,(2:03) (Shotgun) D.Kizer pass short left to S....
478,2017091003,3545,4,03:40:00,4,2,CLE,PIT,3.0,EMPTY,...,21,True,False,NaN,NaN,3.0,C,0.0,3,(3:40) (Shotgun) D.Kizer pass short left to C....
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13839,2017101200,3996,4,03:33:00,4,2,CAR,PHI,45.0,EMPTY,...,28,False,False,NaN,NaN,2.0,C,2.0,4,(3:33) (Shotgun) C.Newton pass short left to C...
13851,2017101200,4297,4,01:22:00,4,1,CAR,PHI,48.0,SHOTGUN,...,28,False,False,NaN,NaN,8.0,I,NaN,0,(1:22) (Shotgun) C.Newton pass incomplete shor...
13966,2017101600,2803,4,15:00:00,4,1,TEN,IND,43.0,I_FORM,...,19,False,False,NaN,NaN,NaN,NaN,NaN,1,(15:00) M.Mariota up the middle to IND 42 for ...
13999,2017101600,3636,4,02:26:00,4,1,IND,TEN,13.0,I_FORM,...,22,False,False,NaN,NaN,NaN,S,NaN,0,(2:26) J.Brissett sacked at TEN 13 for 0 yards...
14148,2017101501,3594,4,06:31:00,4,1,BAL,CHI,32.0,I_FORM,...,17,False,False,NaN,NaN,NaN,NaN,NaN,2,(6:31) J.Allen left guard to CHI 30 for 2 yard...

In [51]:
fourth_down.loc[fourth_down['yardsToGo'] <= fourth_down['PlayResult'], 'firstDown_Conversion'] = 1 
fourth_down.loc[fourth_down['yardsToGo'] > fourth_down['PlayResult'], 'firstDown_Conversion'] = 0

fourth_down.columns

fourth_down

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,gameId,playId,quarter,GameClock,down,yardsToGo,possessionTeam,yardlineSide,yardlineNumber,offenseFormation,...,isPenalty,isSTPlay,SpecialTeamsPlayType,KickReturnYardage,PassLength,PassResult,YardsAfterCatch,PlayResult,playDescription,firstDown_Conversion
158,2017091004,4322,4,02:27:00,4,2,ARI,DET,30.0,SINGLEBACK,...,False,False,NaN,NaN,NaN,NaN,NaN,2,(2:27) (No Huddle) C.Palmer up the middle to D...,1.0
187,2017090700,653,1,09:34:00,4,1,NE,KC,10.0,SINGLEBACK,...,False,False,NaN,NaN,NaN,NaN,NaN,0,(9:34) N.Solder reported in as eligible. M.Gi...,0.0
307,2017090700,3874,4,12:29:00,4,1,NE,KC,40.0,JUMBO,...,False,False,NaN,NaN,NaN,NaN,NaN,0,(12:29) N.Solder reported in as eligible. M.G...,0.0
449,2017091003,2796,3,02:03:00,4,2,CLE,PIT,42.0,SHOTGUN,...,False,False,NaN,NaN,2.0,C,4.0,6,(2:03) (Shotgun) D.Kizer pass short left to S....,1.0
478,2017091003,3545,4,03:40:00,4,2,CLE,PIT,3.0,EMPTY,...,True,False,NaN,NaN,3.0,C,0.0,3,(3:40) (Shotgun) D.Kizer pass short left to C....,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13839,2017101200,3996,4,03:33:00,4,2,CAR,PHI,45.0,EMPTY,...,False,False,NaN,NaN,2.0,C,2.0,4,(3:33) (Shotgun) C.Newton pass short left to C...,1.0
13851,2017101200,4297,4,01:22:00,4,1,CAR,PHI,48.0,SHOTGUN,...,False,False,NaN,NaN,8.0,I,NaN,0,(1:22) (Shotgun) C.Newton pass incomplete shor...,0.0
13966,2017101600,2803,4,15:00:00,4,1,TEN,IND,43.0,I_FORM,...,False,False,NaN,NaN,NaN,NaN,NaN,1,(15:00) M.Mariota up the middle to IND 42 for ...,1.0
13999,2017101600,3636,4,02:26:00,4,1,IND,TEN,13.0,I_FORM,...,False,False,NaN,NaN,NaN,S,NaN,0,(2:26) J.Brissett sacked at TEN 13 for 0 yards...,0.0
14148,2017101501,3594,4,06:31:00,4,1,BAL,CHI,32.0,I_FORM,...,False,False,NaN,NaN,NaN,NaN,NaN,2,(6:31) J.Allen left guard to CHI 30 for 2 yard...,1.0

In [52]:
fourth_down.to_csv('plays_4thdowns.csv')

In [53]:
df_2019 = pd.read_csv('reg_pbp_2019.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (167,168,169,170,175,176,179,180,183,184,189,190,191,192,195,196,204,205,206,219,220,221,222,223,224,227,228,232,233,234,239,241,242) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [54]:
df_2019.columns

Index(['play_id', 'game_id', 'home_team', 'away_team', 'posteam',
       'posteam_type', 'defteam', 'side_of_field', 'yardline_100', 'game_date',
       ...
       'penalty_player_id', 'penalty_player_name', 'penalty_yards',
       'replay_or_challenge', 'replay_or_challenge_result', 'penalty_type',
       'defensive_two_point_attempt', 'defensive_two_point_conv',
       'defensive_extra_point_attempt', 'defensive_extra_point_conv'],
      dtype='object', length=256)

In [55]:
df_2019_clean = df_2019.loc[:,['home_team','away_team', 'defteam', 'yardline_100', 'fourth_down_converted', 'pass_length', 'penalty', 'down', 'yards_after_catch', 'play_type', 'game_seconds_remaining', 'air_yards','total_home_score', 'total_away_score','ydstogo','yards_gained']]

In [56]:
df_2019_clean

,home_team,away_team,defteam,yardline_100,fourth_down_converted,pass_length,penalty,down,yards_after_catch,play_type,game_seconds_remaining,air_yards,total_home_score,total_away_score,ydstogo,yards_gained
0,CHI,GB,CHI,35.0,0.0,NaN,0.0,NaN,NaN,kickoff,3600.0,NaN,0,0,0,0
1,CHI,GB,CHI,75.0,0.0,NaN,0.0,1.0,NaN,run,3600.0,NaN,0,0,10,0
2,CHI,GB,CHI,75.0,0.0,short,0.0,2.0,1.0,pass,3573.0,-1.0,0,0,10,0
3,CHI,GB,CHI,75.0,0.0,NaN,0.0,3.0,NaN,pass,3525.0,NaN,0,0,10,-10
4,CHI,GB,CHI,85.0,0.0,NaN,0.0,4.0,NaN,punt,3495.0,NaN,0,0,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45541,SEA,SF,SF,5.0,0.0,short,0.0,2.0,NaN,pass,22.0,5.0,21,26,5,0
45542,SEA,SF,SF,5.0,0.0,short,0.0,3.0,NaN,pass,15.0,5.0,21,26,5,0
45543,SEA,SF,SF,5.0,0.0,short,0.0,4.0,0.0,pass,12.0,4.0,21,26,5,4
45544,SEA,SF,SEA,99.0,0.0,NaN,0.0,1.0,NaN,run,9.0,NaN,21,26,10,2
45545,SEA,SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,21,26,0,0

In [57]:
df_2019_fourth = df_2019_clean[df_2019_clean['down'] == 4]
df_2019_fourth['play_type'] = df_2019_fourth['play_type'].astype(str)

<ipython-input-57-76e2508fb361>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019_fourth['play_type'] = df_2019_fourth['play_type'].astype(str)

In [58]:
df_2019_fourth = df_2019_fourth[(df_2019_fourth['play_type'] == 'run') | (df_2019_fourth['play_type'] == 'pass')]

In [59]:
df_2019_fourth['year'] =2019

In [60]:
#adam start here

In [61]:
df_2019_fourth

,home_team,away_team,defteam,yardline_100,fourth_down_converted,pass_length,penalty,down,yards_after_catch,play_type,game_seconds_remaining,air_yards,total_home_score,total_away_score,ydstogo,yards_gained,year
113,CHI,GB,GB,33.0,0.0,NaN,0.0,4.0,NaN,run,1140.0,NaN,3,7,10,3,2019
169,CHI,GB,GB,84.0,0.0,NaN,0.0,4.0,NaN,pass,69.0,NaN,3,10,8,-11,2019
408,PHI,WAS,WAS,29.0,0.0,short,0.0,4.0,NaN,pass,2452.0,0.0,0,10,2,0,2019
461,PHI,WAS,WAS,66.0,1.0,NaN,0.0,4.0,NaN,run,1683.0,NaN,7,20,1,2,2019
533,PHI,WAS,PHI,59.0,1.0,short,0.0,4.0,2.0,pass,146.0,6.0,32,20,7,8,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45174,DEN,OAK,DEN,45.0,1.0,short,0.0,4.0,0.0,pass,42.0,11.0,16,9,2,11,2019
45206,LA,ARI,ARI,83.0,0.0,NaN,0.0,4.0,NaN,run,2985.0,NaN,3,0,7,6,2019
45451,SEA,SF,SF,31.0,0.0,NaN,0.0,4.0,NaN,run,1849.0,NaN,0,13,1,0,2019
45538,SEA,SF,SF,12.0,1.0,short,0.0,4.0,0.0,pass,42.0,11.0,21,26,10,11,2019
45543,SEA,SF,SF,5.0,0.0,short,0.0,4.0,0.0,pass,12.0,4.0,21,26,5,4,2019

In [62]:
fourth_down

,gameId,playId,quarter,GameClock,down,yardsToGo,possessionTeam,yardlineSide,yardlineNumber,offenseFormation,...,isPenalty,isSTPlay,SpecialTeamsPlayType,KickReturnYardage,PassLength,PassResult,YardsAfterCatch,PlayResult,playDescription,firstDown_Conversion
158,2017091004,4322,4,02:27:00,4,2,ARI,DET,30.0,SINGLEBACK,...,False,False,NaN,NaN,NaN,NaN,NaN,2,(2:27) (No Huddle) C.Palmer up the middle to D...,1.0
187,2017090700,653,1,09:34:00,4,1,NE,KC,10.0,SINGLEBACK,...,False,False,NaN,NaN,NaN,NaN,NaN,0,(9:34) N.Solder reported in as eligible. M.Gi...,0.0
307,2017090700,3874,4,12:29:00,4,1,NE,KC,40.0,JUMBO,...,False,False,NaN,NaN,NaN,NaN,NaN,0,(12:29) N.Solder reported in as eligible. M.G...,0.0
449,2017091003,2796,3,02:03:00,4,2,CLE,PIT,42.0,SHOTGUN,...,False,False,NaN,NaN,2.0,C,4.0,6,(2:03) (Shotgun) D.Kizer pass short left to S....,1.0
478,2017091003,3545,4,03:40:00,4,2,CLE,PIT,3.0,EMPTY,...,True,False,NaN,NaN,3.0,C,0.0,3,(3:40) (Shotgun) D.Kizer pass short left to C....,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13839,2017101200,3996,4,03:33:00,4,2,CAR,PHI,45.0,EMPTY,...,False,False,NaN,NaN,2.0,C,2.0,4,(3:33) (Shotgun) C.Newton pass short left to C...,1.0
13851,2017101200,4297,4,01:22:00,4,1,CAR,PHI,48.0,SHOTGUN,...,False,False,NaN,NaN,8.0,I,NaN,0,(1:22) (Shotgun) C.Newton pass incomplete shor...,0.0
13966,2017101600,2803,4,15:00:00,4,1,TEN,IND,43.0,I_FORM,...,False,False,NaN,NaN,NaN,NaN,NaN,1,(15:00) M.Mariota up the middle to IND 42 for ...,1.0
13999,2017101600,3636,4,02:26:00,4,1,IND,TEN,13.0,I_FORM,...,False,False,NaN,NaN,NaN,S,NaN,0,(2:26) J.Brissett sacked at TEN 13 for 0 yards...,0.0
14148,2017101501,3594,4,06:31:00,4,1,BAL,CHI,32.0,I_FORM,...,False,False,NaN,NaN,NaN,NaN,NaN,2,(6:31) J.Allen left guard to CHI 30 for 2 yard...,1.0

In [65]:
import numpy as np

minutes = np.array(df_2019_fourth['game_seconds_remaining'] // 60).astype(int)
seconds = np.array(df_2019_fourth['game_seconds_remaining'] % 60).astype(int)
GameClock = []
for i in range(len(minutes)):
    GameClock.append(f'{minutes[i]}:{str(seconds[i]).zfill(2)}:00')

In [66]:
df_2019_fourth['GameClock'] = GameClock

In [67]:
df_2019_fourth

,home_team,away_team,defteam,yardline_100,fourth_down_converted,pass_length,penalty,down,yards_after_catch,play_type,game_seconds_remaining,air_yards,total_home_score,total_away_score,ydstogo,yards_gained,year,GameClock
113,CHI,GB,GB,33.0,0.0,NaN,0.0,4.0,NaN,run,1140.0,NaN,3,7,10,3,2019,19:00:00
169,CHI,GB,GB,84.0,0.0,NaN,0.0,4.0,NaN,pass,69.0,NaN,3,10,8,-11,2019,1:09:00
408,PHI,WAS,WAS,29.0,0.0,short,0.0,4.0,NaN,pass,2452.0,0.0,0,10,2,0,2019,40:52:00
461,PHI,WAS,WAS,66.0,1.0,NaN,0.0,4.0,NaN,run,1683.0,NaN,7,20,1,2,2019,28:03:00
533,PHI,WAS,PHI,59.0,1.0,short,0.0,4.0,2.0,pass,146.0,6.0,32,20,7,8,2019,2:26:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45174,DEN,OAK,DEN,45.0,1.0,short,0.0,4.0,0.0,pass,42.0,11.0,16,9,2,11,2019,0:42:00
45206,LA,ARI,ARI,83.0,0.0,NaN,0.0,4.0,NaN,run,2985.0,NaN,3,0,7,6,2019,49:45:00
45451,SEA,SF,SF,31.0,0.0,NaN,0.0,4.0,NaN,run,1849.0,NaN,0,13,1,0,2019,30:49:00
45538,SEA,SF,SF,12.0,1.0,short,0.0,4.0,0.0,pass,42.0,11.0,21,26,10,11,2019,0:42:00
45543,SEA,SF,SF,5.0,0.0,short,0.0,4.0,0.0,pass,12.0,4.0,21,26,5,4,2019,0:12:00

In [69]:
'1234'[0:3]

'123'